* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: "Times New Roman", Times, serif;
}

/* header */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo img {
  width: 20%;
}
.nav-bar {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-right: 1rem;
}
.nav__contact {
  color: rgb(54, 46, 1);
  cursor: pointer;
}
.nav__cart {
  cursor: pointer;
  margin: 1rem;
  font-size: 16px;
}
.nav__cart span {
  color: rgb(54, 46, 1);
  font-size: 12px;
}
.header__title {
  font-size: 3rem;
  color: rgb(167, 142, 1);
  text-align: center;
  background-image: url("./LanaBettyJewellery.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  min-width: 500px;
}
/* main */
.main {
  margin: 2rem auto;
  width: 50%;
}
.search-wrapper {
  margin: 1rem auto;
}
.search-bar {
  width: 100%;
  padding: 0.5rem;
  outline: none;
  border-radius: 0.5rem;
  border: 2px solid rgb(214, 182, 1);
  font-size: large;
}
.jew-list {
  display: grid;
  grid-template-columns: 50% 50%;
}
.item {
  list-style: none;
  margin: 1rem;
}
.item-wrapper {
  border: 10px solid rgb(214, 182, 1);
  padding: 0.5rem;
  border-radius: 1rem;
  height: 400px;
  position: relative;
}
.item__img {
  width: 100%;
  height: 100%;
}
.item__title {
  height: 50px;
  color: rgb(54, 46, 1);
  margin: 6rem;
}
.item__price {
  margin: 1rem auto;
  text-align: center;
  color: rgb(54, 46, 1);
}
.item__btn {
  width: 100px;
  padding: 0.5rem 0;
  width: 100%;
  cursor: pointer;
  margin-top: 4.5rem;
  background-color: rgb(218, 185, 3);
  font: inherit;
}
/* for mobile */
@media (max-width: 960px) {
  .jew-list {
    grid-template-columns: 100%;
  }
}
.text-wrapper {
  position: absolute;
  top: 100;
  overflow: hidden;
  transition: 3s;
  left: 0;
  font-weight: bold;
  background-color: rgba(255, 215, 0, 50%);
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
}
.item-wrapper:hover .text-wrapper {
  display: block;
  top: 0;
}
/* cart */

.cart-wrapper {
  position: absolute;
  z-index: 4;
  right: 1rem;
  top: 6rem;
  background-color: rgba(255, 215, 0, 50%);
  width: 300px;
  text-align: center;
  border-radius: 0.2rem;
}
.cart {
  display: none;
}
.cart-item {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-item:hover {
  background-color: rgb(218, 185, 3);
}
.cart-img__wrapper {
  width: 150px;
}
.cart-img {
  width: 70%;
  height: 40px;
  border-radius: 50%;
}
.cart-title {
  width: 262px;
  height: 54px;
  overflow: hidden;
  font-family: inherit;
  color: rgb(54, 46, 1);
}
.cart-price {
  color: rgb(54, 46, 1);
  font-size: 12px;
  font-weight: bold;
  margin-right: 0.3rem;
  margin-left: 1rem;
}
.cart-num {
  font-size: 12px;
  font-weight: bold;
  margin-right: 0.3rem;
}
.total {
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.reset,
.submit {
  padding: 0.5rem 0;
  width: 80px;
  margin-bottom: 0.8rem;
  background-color: rgb(255, 235, 154);
  border: 1px solid rgb(255, 215, 0);
  border-radius: 2rem;
}

.reset:hover,
.submit:hover {
  background-color: rgb(218, 185, 3);
}
